# Dependências
node_modules/

# Build do Storybook
storybook-static/
packages/docs/storybook-static/

# Tokens do npm
.env
.env.local
.npmrc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo cache
.turbo/

# Build de libs
packages/*/dist/

